body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFF;
}

header, footer {
  background-color: #008764;
  padding: 2px;
  color: white;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin-left: 150px;
  margin-right: auto;
  text-align: left;
}

h2.table {
  display: inline-block;
  width: 150px;
  margin-right: 30px;
}