// Variables

$primary-color: #E99219;
$complementary-color: #891A1C;
$complementary-color2: #502708;
$secondary-color: #BFB9B7;
$background-color: #EADCC3;
$font-stack: "Times New Roman", Times, serif;