// Navigation

nav {
  display: block;
  width: 100%;
  height: 50px;
  background: $primary-color;
  margin-bottom: 50px;

  ul {
    display: inline-block;
    width: 100%;
    height: 50px;

  }

  li {
    display: inline-block;
    width: auto;
    padding: 5px;
  }

  a {
    color: white;
  }
}